*{
  box-sizing: border-box;
}

.flash-box{
  background-color: $blu;
}

.notice{
  text-align: center;
  color: $whi;
}

.chat-main{
  box-sizing:border-box;
  background-color: $whi;
  width: calc(100vw - 300px);
  color: #000000;
  float: left;
}

.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
  &__left-box{
    line-height: 100px;
    &__current-group{
      font-size: 20px;
      color: #333333;
      height: 20px;
    }    
    &__member-list{
      font-size: 12px;
      color: $gra;
      display: flex;
      height: 12px;
      margin-top: 15px;
      &__member{
        margin-left: 0.3rem;
      }
    }
  }
  &__edit-btn{
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding:0 20px;
    border: solid 1px $blu;
    color: $blu;
    text-decoration: none;
  }
}

.messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px;
}

.message{
  margin-bottom: 40px;
}

.upper-message{
  display: flex;
  margin-bottom: 10px;
  &__user-name{
    font-size: 16px;
    color: #434a54;
  }
  &__date{
    font-size: 12px;
    color: $gra;
    margin-left: 10px;
  }
}

.lower-message{
  font-size: 14px;
  color: #434a54;
}


.form{
  background-color: #ddd;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message{
    width: calc(100% - 150px);
    float: left;
    border: none;
    height: 50px;
  }
  &__mask{
    background-color: $whi;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image{
      font-size: 20px;
      line-height: 50px;
    }
    &__hidden{
      display: none;
    }
  }
  &__submit{
    height: 50px;
    width: 100px;
    text-align: center;
    margin-left: 15px;
    background-color: $blu;
    color: $whi;
    cursor: pointer;
    float: right;
    font-size: 16px;
    padding: 0 30px;
  }
}

.icon{
  font-size: 1.3rem;
  line-height: 50px;
  right: 10px;
 
  cursor: pointer;
}

.new_message{
  margin-left: 10px;
  display: flex;
  height: 50px;
  line-height: 50px;
}
.input-box{
  display: flex;
  position: relative;
  width: 100%;
  &__text{
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    border-style: none;
  }
  &__image{
    font-size: 1.3rem;
    line-height: 50px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
}

.fa_image{
  margin: 0;
  padding:0;
}


